<%# <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> %>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="/assets/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/assets/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/home" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v1</p>
              </a>
            </li>
          </ul>
          <li class="nav-item" id="article">
            <%# <button id="article" class="nav-link" onclick='getArticle()'> %>
            <a href="/articlepages"  class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Articles
              </p>
            </a>
          </li>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>


<script>    
// var a = '<%= articlepages_path %>'
// var x

// function getArticle(){
//   alert("hello");
//   $.ajax({
//     url: "/articles",
//     type: "GET",
//     // dataType: 'JSON',
//     success: function(data){
//       x = data
//       window.location.href = "/articlepages";
//       // if(data.token){
//       //     const token  = localStorage.setItem("token", data.token);
//       // window.location.href = "/articlepages?Authorization="+ data.token;
//       // } 
//     }
//   });
// }

// // $('#article').click (function(){
  
// // });
// for(i=0;i <= x.article.length; i++){
//   $("#mytab > tbody").append(`<tr><td>${x.article[i].id}</td><td>${x.article[i].title}</td><td>${x.article[i].body}</td><td><span class="tag tag-success">
//   <a href="/articlepages/${x.article[i].id}"><button type="button" id="btn" class="btn btn-primary"><i class="far fa-eye"></i></button></a>

//   <a href="/articlepages/${x.article[i].id}/edit"><button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></a>

//   <a href="/articlepages/${x.article[i].id}" data-method="delete"><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></span></td>

//   <td><a href="/charges/new"><button type="button" class="btn btn-outline-primary">Subscribe</button></td></tr>`)
// }
</script>