 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Simple Tables</title>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <!-- Theme style -->
  <%# <link rel="stylesheet" href="../../dist/css/adminlte.min.css"> %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0-rc/css/adminlte.min.css" integrity="sha512-YOsl4pnOb5NC868yn1JxAzjJsWkLNtP53uc3OcyAl0Q2R1cwo/mdI1hHSQM8gbIxWj97mKeLoD9R0aiYibFQAA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
 <!-- /.row -->
  <div class="wrapper">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title" >Articles List</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <a href="<%= new_articlepage_path %>"> <button type="button" class="btn btn-primary">Create Articles</button></a>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <p id="para"></p>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="tb">
              <tr id="tab">
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</body> 

<script>

$('#article').click (function(){
  $.ajax({
    url: "/articles",
    type: "GET",
    // dataType: 'JSON',
    success: function(data){
      $("#para").html(data.article[0]);
      // window.location.href = "/articlepages?Authorization="+ data.token;
      console.log(data.article[0])
      window.location.href = "/articlepages?Authorization="+ data.token;
    }
  });
});

</script>