 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Simple Tables</title>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <!-- Theme style -->
  <%# <link rel="stylesheet" href="../../dist/css/adminlte.min.css"> %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0-rc/css/adminlte.min.css" integrity="sha512-YOsl4pnOb5NC868yn1JxAzjJsWkLNtP53uc3OcyAl0Q2R1cwo/mdI1hHSQM8gbIxWj97mKeLoD9R0aiYibFQAA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
 <!-- /.row -->
  <div class="wrapper">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title" ></h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <a href="<%= new_articlepage_path %>"> <button type="button" class="btn btn-primary">Create Articles</button></a>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <p id="para"></p>
          <div class="card-body table-responsive p-0">
            <table id="mytab" class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</body> 

<script>
var a = '<%= articlepages_path %>'
var x
$(document).ready(function(){
  $('#article').click (function(){
    $.ajax({
      url: "/articles",
      type: "GET",
      // dataType: 'JSON',
      success: function(data){
        x = data
        // if(data.token){
        //     const token  = localStorage.setItem("token", data.token);
            // window.location.href = "/articlepages?Authorization="+ data.token;
        // } 
        // window.location.href = "/articlepages";
      }
    });
  });
  for(var i=0; i <= x.article.length; i++){
    $("#mytab > tbody").append(`<tr><td>${x.article[i].id}</td><td>${x.article[i].title}</td><td>${x.article[i].body}</td><td><span class="tag tag-success">
    <a href="/articlepages/${x.article[i].id}"><button type="button" id="btn" class="btn btn-primary"><i class="far fa-eye"></i></button></a>

    <a href="/articlepages/${x.article[i].id}/edit"><button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></a>

    <a href="/articlepages/${x.article[i].id}" data-method="delete"><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></span></td>

    <td><a href="/charges/new"><button type="button" class="btn btn-outline-primary">Subscribe</button></td></tr>`)
  }
});
</script>